<template name="message">
  <div class="message me">
    <div class="row">
      <div class="small-12 columns user">
        leo.tumwattana@gmail.com
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns content">
        Yo!
      </div>
    </div>
  </div>

  <div class="message">
    <div class="row">
      <div class="small-12 columns user">
        kulio@gmail.com
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns content">
        Yo back!
      </div>
    </div>
  </div>
</template>